@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --background-color: rgb(255,255,255);
    --paragraph-color: rgb(0, 0, 0);
    --section-background: rgb(242, 242, 242);
    --alt-color: rgb(119, 119, 119);
    --shadow-style: 0px 0px 25px -8px rgb(0, 0, 0);
    --imdb-icon:  rgb(255, 215, 0);
    --star-rating: rgb(255, 255, 0);
    --premium-icon: rgb(0, 191, 255);
    --srollbar-border: 1px solid rgb(0, 0, 0);
    --placeholder-color: rgb(51, 51, 51);
}
[theme = "dark"] {
    --background-color: rgb(18, 18, 18);
    --paragraph-color: rgb(255, 255, 255);
    --section-background: rgb(13, 9, 7);
    --alt-color: rgb(119, 119, 119);
    --shadow-style: 0px 0px 25px -8px rgb(0, 0, 0);
    --imdb-icon:  rgb(255, 215, 0);
    --star-rating: rgb(255, 255, 0);
    --premium-icon: rgb(0, 191, 255);
    --srollbar-border: 1px solid rgb(255, 255, 255);
    --placeholder-color: rgb(51, 51, 51);
}
[theme="dark"] main #darkModeSwitch #modeSwitchCase #modeSwitchBall {
    left: 25px;
}
* {
    font-family: poppins, Tahoma, Verdana;
}
#body {
    width: 100%;
    height: auto;
    background-color: var(--background-color);
    font-family: poppins, Tahoma, Verdana;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar {
    background:  var();
     width: 8px;
     border-radius: 5px;
     visibility: visible;
     height: 0px;
     border: 1px solid #000;
     right: 0px;
     top: 100px;
     z-index: auto;
 }
 body::-webkit-scrollbar-thumb {
    background:  var(--paragraph-color);
     width: 8px;
     border-radius: 5px;
     visibility: visible;
     height: 0px;
     border: 1px solid #000;
     right: 0px;
     top: 100px;
     z-index: auto;
 }
header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 25px -8px #000000;
}
 header nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
header nav #navCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    margin: auto;
}
header nav .navCont #logoPhrase {
    position: relative;
    display: block; 
    margin: none;
}
header nav .navCont #logoPhrase #logo {
    text-align: center;
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
    color: var(--paragraph-color);
}
header nav .navCont #logoPhrase #phrase {
    text-align: center;
    margin: 0px; 
    color: var(--paragraph-color);
    font-size: 15px;
    font-weight: 400;
}
header nav .navCont #navSearchPremium {
    display: flex;
    width: auto;
}
header nav .navCont #navSearchPremium #menuBar {
    display: flex;
    align-items: center;
    margin-right: 80px;
}
header nav .navCont #navSearchPremium #menuBar #menu {
   padding: 3px 15px;
}
header nav .navCont #navSearchPremium #menuBar #menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    color: var(--paragraph-color);
    transition: .3s linear;
}
header nav .navCont #navSearchPremium #menuBar #menu a:hover {
    color: #777777;
}
header nav #navSearchPremium #searchProfile {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav #navSearchPremium #searchProfile .searchBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 0px;
    width: 232px;
    height: 30px;
    background-color: var(--section-background);
    border-radius: 25px;
}
header nav #navSearchPremium #searchProfile .searchBar #searchIcon {
    margin: 0px 5px 0px 5px;
    width: 15px;
    height: 15px;
    color: var(--paragraph-color);
}
header nav #navSearchPremium #searchProfile .searchBar #searchInput {
    outline: none;
    width: 198px;
    height: 30px;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
}
header nav #navSearchPremium #searchProfile .searchBar #searchInput::placeholder {
    color: var(--paragraph-color);
    opacity: 50%;
    font-size: 12px;
}
header nav #navSearchPremium #searchProfile #profileHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 27px;
    border-radius: 100%;
}
header nav #navSearchPremium #searchProfile #profileHolder #profileImage{
    height: 23px;
    width: 23px;
    border-radius: 100%;
    margin: 0px 5px 0px 0px;
}
header nav #navSearchPremium #searchProfile #profileHolder #premiumOption{
    width: 133px;
    height: 24px;
    border-radius: 4px;
    border: none;
    font-weight: bolder;
    padding-left: 5px;
}
header nav #navSearchPremium #searchProfile #profileHolder #premiumOption #premiumIcon{
    width: 15px;
    height: 15px;
    font-weight: bolder;
    color: rgb(0, 191, 255);
    margin-right: 5px;
}
header nav #navSearchPremium #profileHolder #premiumOption:hover {
    background: #777777;
}
main #darkModeSwitch {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}
main #darkModeSwitch p{
    font-size: 12px;
    margin: 0px;
    color:  var(--paragraph-color);
}
main #darkModeSwitch #modeSwitchCase {
    width: 65px;
    height: 30px;
    background-color: var(--section-background);
    border-radius: 100px;
    display: flex;
    align-items: center;
    margin-left: 10px ;
    position: relative;
    cursor: pointer;
}
main #darkModeSwitch #modeSwitchCase #modeSwitchBall {
    width: 25px;
    height: 25px;
    border-radius: 100px;
    margin-left: 8px;
    background-color: var(--paragraph-color);
    border: 0px;
    position: absolute;
    transition: left 0.3s;
}
main #noticeDiv {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #noticeDiv #noticeBoard {
    background-color: var(--section-background);
    border-radius: 8px;
    width: 80%;
    height: auto;
    padding-top: 10px;
}
main #noticeDiv #noticeBoard #noticeContainer{
    width: 98%;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
main #noticeDiv #noticeBoard #cancelNotice{
    width: 98%;
    display: flex;
    justify-content: flex-end;
    color: var(--paragraph-color);
}
main #noticeDiv #noticeBoard #cancelNotice #closeIcon {
    margin: 0px;
    color:  var(--paragraph-color);
}
main #noticeDiv #noticeBoard #noticeContainer #noticeHeader {
    font-size: 16px;
    font-weight: bold;
    margin: 0px;
    width: 100%;
    color: var(--paragraph-color);
}
main #noticeDiv #noticeBoard #noticeContainer #note {
    font-size: 14px;
    text-align: justify;
    margin: 0px;
    width: 100%;
    color:  var(--paragraph-color);
}
main #filterDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
main #filterDiv #filter {
    width: 70%;
}
main #filterDiv #filter #filterTextIcon {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterTextIcon #filterIcon {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 6px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterContainer {
    border: 1px solid var(--background-color);
    padding: 26px 30px 26px 30px;
    box-shadow: 0px 0px 25px -12px #000000;
    border-radius: 8px;
}
main #filterDiv #filter #filterContainer #categories {
    margin: 0px 0px 12px 0px;
}
main #filterDiv #filter #filterContainer #categories #categoryText {
    font-size: 18px;
    font-weight: 500px;
    margin-left: 10px;
    margin-bottom: 0px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterContainer #categories #categoryContent {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
main #filterDiv #filter #filterContainer #categories #categoryContent #filt {
    width: auto;
    padding: 9.5px 9.5px 9.5px 9.5px;
    font-size: 16px;
    font-weight: 500px;
    background-color: var(--section-background);
    border: none;
    border-radius: 12px;
    outline: none;
    margin: 5px 10px 10px 10px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterContainer #categories #categoryContent #filt:hover {
    background: #777777;
    transition-delay: 150ms;
    color: var(--section-background);
}
main #filterDiv #filter #filterContainer #genreFilter {
    margin: 12px 0px 0px 0px;
}
main #filterDiv #filter #filterContainer #genreFilter #genreText {
    font-size: 18px;
    font-weight: 500px;
    margin-left: 10px;
    margin-bottom: 0px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterContainer #genreFilter #filterContent {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    flex-wrap: wrap;
}
main #filterDiv #filter #filterContainer #genreFilter #filterContent {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
}
main #filterDiv #filter #filterContainer #genreFilter #filterContent #filt {
    width: auto;
    padding: 9.5px 9.5px 9.5px 9.5px;
    font-size: 16px;
    font-weight: 500px;
    background-color: var(--section-background);
    border: none;
    border-radius: 12px;
    outline: none;
    margin: 5px 10px 10px 10px;
    color:  var(--paragraph-color);
}
main #filterDiv #filter #filterContainer #genreFilter #filterContent #filt:hover {
background: #777777;
    transition-delay: 150ms;
    color: var(--section-background);
}
main #filterDiv #filter #filterContainer #genreFilter #filterContent  {

}
main #sortDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
main #sortDiv #sort {
    width: 70%;
}
main #sortDiv #sort #sortTextIcon {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    color:  var(--paragraph-color);
}
main #sortDiv #sort #sortTextIcon #sortIcon {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    color:  var(--paragraph-color);
    margin-left: 6px;
}
main #sortDiv #sort #sortContainer {
    border: 1px solid var(--background-color);
    padding: 26px 30px 26px 30px;
    box-shadow: 0px 0px 25px -12px #000000;
    border-radius: 8px;
    
}
main #sortDiv #sort #sortContainer #orderText {
    font-size: 18px;
    font-weight: 500px;
    margin-left: 10px;
    margin-bottom: 0px;
    color:  var(--paragraph-color);
}
main #sortDiv #sort #sortContainer #srt {
    width: auto;
    padding: 9.5px 9.5px 9.5px 9.5px;
    font-size: 16px;
    font-weight: 500px;
    background-color: var(--section-background);
    border: none;
    border-radius: 12px;
    outline: none;
    margin: 5px 10px 10px 10px;
    color:  var(--paragraph-color);
}
main #sortDiv #sort #sortContainer #srt:hover {
    background: #777777;
    transition-delay: 150ms;
    color: var(--section-background);
}
main #movieListDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px 10px 0px;
}
main #movieListDiv #movieList {
    width: 70%;
}
main #movieListDiv #movieList #movieText {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0px;
    color:  var(--paragraph-color);
}
main #movieListDiv #movieList #movieListContainer {
    border: 1px solid var(--background-color);
    padding: 20px 20px 20px 20px;
    box-shadow: 0px 0px 25px -12px #000000;
    border-radius: 8px;
    margin-bottom: 0px;
}
main #movieListDiv #movieList #movieListContainer #highlightText {
    font-size: 24px;
    font-weight: 500px;
    margin-left: 26px;
    margin-bottom: 26px;
    margin-top: 26px;
    width: 56px;
    height: 56px;
    background: var(--section-background);
    color: var(--paragraph-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
}
main #movieListDiv #movieList #movieListContainer #movieBullet {
    display: block;
    margin: 15px 15px 15px 26px;
    color: var(--paragraph-color);
    
}
main #movieListDiv #movieList #movieListContainer #movieBullet #movieItem {
    margin: 0px 0px 0px 12px;
    text-decoration: none;
    font-size: 16px;
    color: var(--paragraph-color);
    font-weight: 500;
}
footer #disclaimerPrivacyPolicyTermsCopyRight {
    display: flex;
    justify-content: center;
    overscroll-behavior-block: contain;
    margin: 30px 0px 30px 0px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #disclaimer {
    font-weight: bold;
    color: var(--paragraph-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #privacypolicy {
    font-weight: bold;
    color: var(--paragraph-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #terms {
    font-weight: bold;
    color: var(--paragraph-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #copyright {
    font-weight: bold;
    color: var(--paragraph-color);
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}footer #disclaimerPrivacyPolicyTermsCopyRight #design {
    
}
header nav .navCont #navSearchPremium #hamburgerMenu {
    display: ;
}
header nav .navCont #navSearchPremium #hamburgerMenu #hamburgerIcon {
    display: hidden;
    width: 30px;
    height: 3px;
    background-color: var(--paragraph-color);
    border-radius: 8px;
    margin: 5px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    color:  var(--paragraph-color);
}
@media all and (max-width: 1500px){
    header nav .navCont #navSearchPremium #menuBar {
        margin-right: 0px;
    }
}
@media all and (max-width: 1260px){
    header nav #navSearchPremium #searchProfile .searchBar {
        margin: 0px 20px 0px 10px;
        width: auto;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchIcon {
        width: 15px;
        height: 15px;
        margin: 0px 7.5px 0px 7.5px;
        color:  var(--paragraph-color);
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchInput {
        display: hidden;
        width: 0px;
        height: 30px;
        padding: 0px 0px;
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchInput::placeholder {
        display: hidden;
    }
}
@media all and (max-width: 1051px){
    header nav .navCont #navSearchPremium #menuBar {
        position: fixed;
        right: -100%; 
        top: 8.5rem;
        flex-direction: column;
        background: var(--section-background);
        width: 50%;
        border-radius: 10px;
        transition: 0.3s;
        text-align: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    header nav .navCont #navSearchPremium #menuBar.active {
        right: 0px;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(2) {
        opacity: 0%;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header nav .navCont #navSearchPremium #menuBar #menu {
        margin: 2.5rem;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu #hamburgerIcon {
        display: block; 
    }
    header nav .navCont #logoPhrase {
        position: relative;
        display: block; 
        margin: none;
    }
    header nav .navCont #logoPhrase #logo {
        text-align: center;
        margin: 0px;
        font-weight: bolder;
        font-size: 20px;
        color: var(--paragraph-color);
    }
    header nav .navCont #logoPhrase #phrase {
        text-align: center;
        margin: 0px; 
        color: var(--paragraph-color);
        font-size: 10px;
        font-weight: 400;
    }
    header nav .navCont #navSearchPremium #menuBar #menu {
        padding: 3px 15px;
     }
     header nav .navCont #navSearchPremium #menuBar #menu a {
        text-decoration: none;
        font-size: 12px;
        font-weight: bolder;
        color: var(--paragraph-color);
        transition: .3s linear;
     }
     header nav .navCont #navSearchPremium #menuBar #menu a:hover {
        color: #777777;
     }
     header nav #searchProfile {
        width: auto;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
}
@media all and (max-width: 767px) {
    header nav #navSearchPremium #searchProfile #profileHolder #premiumOption {
       width: auto;
       height: 24px;
       border-radius: 4px;
       border: none;
       padding-left: 5px;
   }   
   header nav #navSearchPremium #searchProfile #profileHolder #premiumOption #premiumIcon {
       margin: 0px;
       height: auto;  
   }   
   header nav #navSearchPremium #searchProfile #profileHolder #premiumOption p {
       display: none;
   }
   }