@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: poppins, Tahoma, Verdana;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    font-family: poppins, Tahoma, Verdana;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
}
body::-webkit-scrollbar {
    background:  #f2f2f2;
     width: 8px;
     border-radius: 5px;
     visibility: visible;
     height: 0px;
     border: 1px solid #000;
     right: 0px;
     top: 100px;
     z-index: auto;
 }
 body::-webkit-scrollbar-thumb {
    background:  #000000;
     width: 8px;
     border-radius: 5px;
     visibility: visible;
     height: 0px;
     border: 1px solid #000;
     right: 0px;
     top: 100px;
     z-index: auto;
 }
header {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    box-shadow: 0px 0px 25px -8px #000000;
}
 header nav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}
header nav #navCont {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;
    margin: auto;
}
header nav .navCont #logoPhrase {
    position: relative;
    display: block; 
    margin: none;
}
header nav .navCont #logoPhrase #logo {
    text-align: center;
    margin: 0px;
    font-weight: bolder;
    font-size: 25px;
    color: #000000;
}
header nav .navCont #logoPhrase #phrase {
    text-align: center;
    margin: 0px; 
    color: #000000;
    font-size: 15px;
    font-weight: 400;
}
header nav .navCont #navSearchPremium {
    display: flex;
    width: auto;
}
header nav .navCont #navSearchPremium #menuBar {
    display: flex;
    align-items: center;
    margin-right: 80px;
}
header nav .navCont #navSearchPremium #menuBar #menu {
   padding: 3px 15px;
}
header nav .navCont #navSearchPremium #menuBar #menu a {
    text-decoration: none;
    font-size: 12px;
    font-weight: bolder;
    color: #000000;
    transition: .3s linear;
}
header nav .navCont #navSearchPremium #menuBar #menu a:hover {
    color: #777777;
}
header nav #navSearchPremium #searchProfile {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header nav #navSearchPremium #searchProfile .searchBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 0px 0px;
    width: 232px;
    height: 30px;
    background-color: #f2f2f2;
    border-radius: 25px;
}
header nav #navSearchPremium #searchProfile .searchBar #searchIcon {
    margin: 0px 5px 0px 5px;
    width: 15px;
    height: 15px;
}
header nav #navSearchPremium #searchProfile .searchBar #searchInput {
    outline: none;
    width: 198px;
    height: 30px;
    background-color: transparent;
    padding: 5px 10px;
    border: none;
}
header nav #navSearchPremium #searchProfile .searchBar #searchInput::placeholder {
    color: #000000;
    font-size: 12px;
}
header nav #navSearchPremium #searchProfile #profileHolder {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    height: 27px;
    border-radius: 100%;
}
header nav #navSearchPremium #searchProfile #profileHolder #profileImage{
    height: 23px;
    width: 23px;
    border-radius: 100%;
    margin: 0px 5px 0px 0px;
}
header nav #navSearchPremium #searchProfile #profileHolder #premiumOption{
    width: 133px;
    height: 24px;
    border-radius: 4px;
    border: none;
    font-weight: bolder;
    padding-left: 5px;
}
header nav #navSearchPremium #searchProfile #profileHolder #premiumOption #premiumIcon{
    width: 15px;
    height: 15px;
    font-weight: bolder;
    color: lightblue;
    margin-right: 5px;
}
header nav #navSearchPremium #profileHolder #premiumOption:hover {
    background: #777777;
}
main #disclaimerSection {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
main #disclaimerSection #disclaimerDiv {
    width: 70%;
    height: auto;
}
main #disclaimerSection #disclaimerDiv h3 {
    font-size: 20px;
    font-weight: bolder;
    margin-top: 60px;
}
main #disclaimerSection #disclaimerDiv #disclaimerFlex {
    display: flex;
    justify-content: center;
    align-self: center;
    margin-top: 60px;
}
main #disclaimerSection #disclaimerDiv #disclaimerFlex #disclaimer {
    width: 80%;
    height: auto;
    background-color:#f2f2f2; 
    box-shadow: 0px 0px 25px -8px #000000;
    padding: 30px 60px 30px 60px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight {
    display: flex;
    justify-content: center;
    overscroll-behavior-block: contain;
    margin: 30px 0px 30px 0px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #disclaimer {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #privacypolicy {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #terms {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}
footer #disclaimerPrivacyPolicyTermsCopyRight #copyright {
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;
    padding-right: 5px;
}footer #disclaimerPrivacyPolicyTermsCopyRight #design {
    
}
header nav .navCont #navSearchPremium #hamburgerMenu {
    display: ;
}
header nav .navCont #navSearchPremium #hamburgerMenu #hamburgerIcon {
    display: hidden;
    width: 30px;
    height: 3px;
    background-color: #000;
    border-radius: 8px;
    margin: 5px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@media all and (max-width: 1500px){
    header nav .navCont #navSearchPremium #menuBar {
        margin-right: 0px;
    }
}
@media all and (max-width: 1260px){
    header nav #navSearchPremium #searchProfile .searchBar {
        margin: 0px 20px 0px 10px;
        width: auto;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        height: 30px;
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchIcon {
        width: 15px;
        height: 15px;
        margin: 0px 7.5px 0px 7.5px;
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchInput {
        display: hidden;
        width: 0px;
        height: 30px;
        padding: 0px 0px;
    }
    header nav #navSearchPremium #searchProfile .searchBar #searchInput::placeholder {
        display: hidden;
    }
}
@media all and (max-width: 1051px){
    header nav .navCont #navSearchPremium #menuBar {
        position: fixed;
        right: -100%; 
        top: 8.5rem;
        flex-direction: column;
        background: #f2f2f2;
        width: 50%;
        border-radius: 10px;
        transition: 0.3s;
        text-align: center;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    header nav .navCont #navSearchPremium #menuBar.active {
        right: 0px;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(2) {
        opacity: 0%;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
    }
    header nav .navCont #navSearchPremium #hamburgerMenu.active #hamburgerIcon:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    header nav .navCont #navSearchPremium #menuBar #menu {
        margin: 2.5rem;
    }
    header nav .navCont #navSearchPremium #hamburgerMenu #hamburgerIcon {
        display: block; 
    }
    header nav .navCont #logoPhrase {
        position: relative;
        display: block; 
        margin: none;
    }
    header nav .navCont #logoPhrase #logo {
        text-align: center;
        margin: 0px;
        font-weight: bolder;
        font-size: 20px;
        color: #000000;
    }
    header nav .navCont #logoPhrase #phrase {
        text-align: center;
        margin: 0px; 
        color: #000000;
        font-size: 10px;
        font-weight: 400;
    }
    header nav .navCont #navSearchPremium #menuBar #menu {
        padding: 3px 15px;
     }
     header nav .navCont #navSearchPremium #menuBar #menu a {
        text-decoration: none;
        font-size: 12px;
        font-weight: bolder;
        color: #000000;
        transition: .3s linear;
     }
     header nav .navCont #navSearchPremium #menuBar #menu a:hover {
        color: #777777;
     }
     header nav #searchProfile {
        width: auto;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
     }
}